<div class="all ">
    <div class="footer  ">
  <div class="container-fluid">
    <div class="row row-cols-1 g-5  row-cols-sm-3  m-3">
        <div class="col">
            <div class="location text-center ">
                <h3 class="text-uppercase">location</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
        </div>
        <div class="col">
             <div class="web text-center ">
                <h3>AROUND THE WEB</h3>

                <ul class="icons d-flex gap-2 list-unstyled justify-content-center ">
                <li >
                    
                    <div class="circle d-flex justify-content-center align-items-center">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                   
                </li>
                <li>
                    
                    <div class="circle d-flex justify-content-center align-items-center">
                        <i class="fab fa-twitter"></i>
                    </div>
                   
                </li>
                 <li>
                    
                    <div class="circle d-flex justify-content-center align-items-center">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                   
                </li>
                <li>
                    
                    <div class="circle d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                   
                </li>
                
               
                </ul>

            </div>
        </div>
        <div class="col">
           <div class="freelancer text-center ">
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
           </div>
        </div>
    </div>
  </div>
</div>
<div class="copy">
    <p>Copyright © Your Website 2021</p>
</div>


</div>