<div class=" sec main-color d-flex flex-column justify-content-center align-items-center pt-4">
  <div class=" text-color ">
      
      <h2 class=" fw-bold text-uppercase fs-1 mb-3  text-center">about component</h2>
     <app-stars [classBg]="bgClass" [TextColor]="textColor" ></app-stars>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 px-5">
                <div class="col ">
                    <div class="inner  ">
                        <p>
                            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                        </p>

                        </div>
                </div>
                <div class="col ">
                    <div class="inner">
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
</div>
