<nav class="navbar navbar-expand-lg fixed-top navbg-color" [class.Scrollpadding]="isScrolled">
  <div class="container">
    <a class="text-uppercase  fw-bolder nav-text-color fs-2"  routerLink="" >Start Framework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="text-uppercase fw-bold nav-text-color  mx-1  px-2 nav-link " aria-current="page" routerLinkActive="Active rounded-3"
  [routerLinkActiveOptions]="{ exact: true }" routerLink="about" >about</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase fw-bold nav-text-color mx-1  px-2 nav-link" routerLinkActive="Active rounded-3"
  [routerLinkActiveOptions]="{ exact: true }"  routerLink="portfolio" >portfolio</a>
        </li>
        <li class="nav-item">
          <a class="text-uppercase fw-bold nav-text-color mx-1  px-2 nav-link" routerLinkActive="Active rounded-3"
  [routerLinkActiveOptions]="{ exact: true }" routerLink="contact" >contact</a>
        </li>
        
       
      </ul>
      
    </div>
  </div>
</nav>
