.navbg-color{
  background-color: var(--secondary-color);
}
.Active{
 background-color: #95624f;
 padding: 10px;
 color: var(--main-color);
}
a{
  text-decoration: none;
}
.nav-link:focus, .nav-link:hover {
    color: var(--main-color);
}
nav{
  padding: 1.5rem 0rem;
  transition: .6s padding
}
.Scrollpadding{
  padding: 8px 0px;
}